<div class="container pt-5">
    <mat-card class="mb-3">
        <app-toolbar (newGiftEvent)="newGiftSuggestion($event)"></app-toolbar>
    </mat-card>
    <mat-card>
        <app-table [data]="giftSuggestions" (selectGiftSuggestionEvent)="selectGiftSuggestion($event)"
            (clickLinkEvent)="clickLink($event)"></app-table>
    </mat-card>

    <!-- <div class="row mt-5">
        <div class="col-2" *ngFor="let giftSuggestion of giftSuggestions">
            <mat-card (click)="selectGiftSuggestion(giftSuggestion.id)">
                <div class="row">
                    <div class="col d-flex justify-content-start">
                        <h3 class="link-dark" (click)="clickLink(giftSuggestion.url)">
                            {{ giftSuggestion.name }}
                        </h3>
                    </div>
                    <div class="col d-flex justify-content-end">
                        <mat-radio-button [checked]="selectedGiftSugestion === giftSuggestion.id"
                            [value]="giftSuggestion.id" color="warn"></mat-radio-button>
                    </div>
                </div>
                <div class="row">
                    <img [src]="giftSuggestion.picture">
                </div>
            </mat-card>
        </div>
    </div> -->
</div>